<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Server=.\SQLEXPRESS;Initial Catalog=BebeclickStorage;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IPortalRepository" type="Bebeclick.WebClient.IPortalRepository, Bebeclick.WebClient"/>
    <alias alias="SqlPortalRepository" type="Bebeclick.WebClient.SQL.SqlPortalRepository, Bebeclick.WebClient"/>
    <container>
      <register type="IPortalRepository" mapTo="SqlPortalRepository">
        <lifetime type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
        <constructor>
          <param name="connectionStringName" value="ApplicationServices"/>
        </constructor>
      </register>
    </container>
  </unity>
</configuration>