USE [BebeclickStorage]
GO

/****** Object:  StoredProcedure [dbo].[usp_DeleteService]    Script Date: 05/07/2014 17:45:59 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_DeleteService]') AND type in (N'P', N'PC'))
	DROP PROCEDURE [dbo].[usp_DeleteService]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_DeleteService]
	@ID uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

	DELETE [Service]
	WHERE ID = @ID

END
GO
