USE [BebeclickStorage]
GO

/****** Object:  Table [dbo].[StateProvince]    Script Date: 05/07/2014 17:46:00 ******/
ALTER TABLE [dbo].[StateProvince] DROP CONSTRAINT [DF_StateProvince_ID]
GO

ALTER TABLE [dbo].[StateProvince] DROP CONSTRAINT [DF_StateProvince_DateCreated]
GO

DROP TABLE [dbo].[StateProvince]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[StateProvince](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](256) NOT NULL,
	[LastUpdated] [datetime] NULL,
	[LastUpdatedBy] [nvarchar](256) NULL,
	[Visible] bit NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[StateProvince] ADD  CONSTRAINT [DF_StateProvince_ID]  DEFAULT (newid()) FOR [ID]
GO

ALTER TABLE [dbo].[StateProvince] ADD  CONSTRAINT [DF_StateProvince_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO

ALTER TABLE [dbo].[StateProvince] ADD  CONSTRAINT [DF_StateProvince_Visible]  DEFAULT (0) FOR [Visible]
GO

INSERT [dbo].[StateProvince] ([ID], [Name], [DateCreated], [CreatedBy], [LastUpdated], [LastUpdatedBy], [Visible]) VALUES (N'9fdfc32d-1174-4727-9138-f528a4d48c12', N'Aguascalientes', CAST(0x0000A32400FF22D4 AS DateTime), N'dcruz', NULL, NULL, 1)
INSERT [dbo].[StateProvince] ([ID], [Name], [DateCreated], [CreatedBy], [LastUpdated], [LastUpdatedBy], [Visible]) VALUES (N'c98d0bdf-7c5b-4ce5-8aef-fa479f382fc5', N'Baja California', CAST(0x0000A32400FF3242 AS DateTime), N'dcruz', NULL, NULL, 1)
INSERT [dbo].[StateProvince] ([ID], [Name], [DateCreated], [CreatedBy], [LastUpdated], [LastUpdatedBy], [Visible]) VALUES (N'd5af39eb-e9a2-4d1f-8b9c-e257f2c79780', N'Baja California Sur', CAST(0x0000A32400FF3CA2 AS DateTime), N'dcruz', NULL, NULL, 1)
